<%- include('partials/header') %>

    <div class="divers">
        <p>Heelloooo</p>
        <p>menu inscription connexion</p>
        <p>logo reseaux (3)</p>
        <p>retour au Portfolio</p>
        <p>Lien github</p>
        liste de toutes
        proposer une rando?
        Tri par type (famil, rando, trail)
        Recherche par mots clés
        Tri par massif
        tri par difficulté
    </div>

<div class="container">
    <% treks.forEach(trek => { %>
        <article class="trek">
            <a href="/trek/<%= trek.id %>"><img class="trek_background" src="/images/assets/couverture/<%= trek.id %>.jpg" alt="cover">
                <div class="trek_content">
                    <p class="trek_name"><%= trek.name %></p>
                    <p class="trek_difficult <%= trek.difficulty.name %>"><%= trek.difficulty.name %></p>
                    <p class="trek_length">📏 <%= trek.distance / 1000%> km </>
                    <p class="trek_time"><%= trek.time_length %> ⏱️</>
                    <p class="trek_resume"><%= trek.resume %> </p>
                    <p class="trek_summit"><%= trek.summit.name %></p>
                </div>
            </a>
        </article>
    <% }) %>

</div>

<%- include('partials/footer') %>