<%- include('partials/header') %>

<div class="container-trek">
    <div class="trek_header">
        <img class="trek_header-img" src="/images/assets/couverture/<%= trek.id %>.jpg" alt="">
        <ul class="header_tag">
            <% for (const tag of trek.tags) { %>
                <li class="<%= tag.name %>"><%= tag.name %></li>
            <% } %>
        </ul>
        <div class="trek_header-text">
            <p class="header-text_title"><%= trek.name %></p>
            <p class="header-text_difficulty"><%= trek.difficulty.name %></p>
            <p class="header-text_localisation"><%= trek.start_point %> / <%= trek.summit.name %></p>
        </div>
        <div class="header_favorite-icon"><img src="/images/trek/bookmark_empty.png" alt="favori" srcset=""></div>
    </div>
    <div class="trek_main">
        <div class="trek_main-text">
            <div class="trek_main-text">
                <div class="trek_main-text-head">
                    <p class="main-text-head_length"><img src="/images/trek/distance.png" alt="regle"><%= trek.distance / 1000%> km</p>
                    <p class="main-text-head_time-length"><img src="/images/trek/chronometre.png" alt="regle"><%= trek.time_length %></p>
                    <p class="main-text-head_boucle"><img src="/images/trek/boucle.png" alt="boucle"> <%= trek.boucle.toLowerCase() %></p>
                    <p class="main-text-head_denivele"><img src="/images/trek/denivele.png" alt="dénivelé"><%= trek.denivele %>m</p>
                    <p class="main-text-head_min"><img src="/images/trek/min_altitude.png" alt="altitude mini"><%= trek.min_height %>m</p>
                    <p class="main-text-head_max"><img src="/images/trek/max_altitude.png" alt="altitude maxi"><%= trek.max_height %>m</p>
                </div>
                <p class="trek_main-text_title-description">Description :</p>
                <p class="trek_main-text_description"><%= trek.description %></p>
            </div>
            <div class="trek_main-foot">
                <p class="trek_foot_gps"><img src="/images/trek/gps.png" alt="gps"><%= trek.gps_coordonate %></p>
                <a class="trek_foot_gpx-link" href="<%= trek.gpx %>"><img class="trek_foot_gpx-img" src="/images/trek/download.png" alt="download">Fichier gpx</a>
                <a class="trek_foot_qr-link"><img src="/images/assets/qr/<%= trek.id %>.png" alt="qr code"></a>

            </div>
            <div class="main-foot_map">
                <iframe src="<%= trek.map %>" allowfullscreen style="border: 0;width: 100%; height: 540px;" scrolling="no"></iframe>               
            </div>
        </div>
        <aside class="trek_main_photos">
            <a class="main_photos_link" href="/trek/<%= trek.id %>/photos">Voir toutes les photos</a>
            <div class="main_photos">
                <% for (const photo of photos) { %>
                    <a href="/images/assets/<%= trek.id %>/L/<%= photo %>"><img class="main_photos_photo" src="/images/assets/<%= trek.id %>/XS/<%= photo %>" alt="Photo rando"></a>
                <% } %>
            </div>
        </aside>
    </div>


</div>


<%- include('partials/footer') %>
