<%- include("../partials/header") %>

<main class="admin_form">
  <h1 class="admin_title">Mon profil</h1>

  <label class="form-label" for="firstname">Prénom</label>
  <input class="form-input" type="text" disabled id="firstname" value="<%= user.firstname %>">

  <label class="form-label" for="lastname">Nom</label>
  <input class="form-input" type="text" disabled id="lastname" value="<%= user.lastname %>">

  <label class="form-label" for="email">Email</label>
  <input class="form-input" type="text" disabled id="email" value = "<%= user.email %>">
</mainadmin_form>

<%- include("../partials/footer") %>